.accountheader {
    text-align: center;
    padding-top: 50px;
}

.accountinfo {
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 450px;
   text-align: center;
    
}

.account {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 65px;
    
}
ul {
    list-style-type: none;
}
.accountdetails {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35px;
    margin-bottom: 35px;
    /* border: 2px solid rgb(192, 191, 191); */
    /* background-color: rgb(248, 247, 247) ; */
    padding: 10px;
    max-height: 90px;
    width: 325px;
    font-family:  sans-serif, helvetica;
    letter-spacing: 3px;
    font-size: 20px;
    
    
}

.user_name {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 75px;
    font-family:  sans-serif, helvetica;
    letter-spacing: 3px;
    font-size: 20px;
}



/* .name {
    display: flex;
    padding-top: 25px;
    
}
.nameIcon {
    display: flex;
    flex-direction: row;
    margin-left: 200px
} */