.navbar {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    text-align: center;
    /* margin-left: 310px; */
    align-items: center;
    justify-content: center;
    
    
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    
}
