.pageheader {
    text-align: left;
}

body {
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(250, 250, 250);
}

.pageheader {
    text-align: center;
    padding-top: 50px;
}