.timerButtons {
    display:flex;
    flex-direction: row;
    padding-top: 30px;
}

.timer {
    margin-left: 80px;
}

.timerdropdown {
    margin-left: 68px;
    padding-top: 20px;
    
}
/* .progressbar {
    
} */