.timerButtons {
    display:flex;
    flex-direction: row;
    padding-top: 30px;
    margin-left: 25px;
}

.timer {
    margin-left: 80px;
}

.timerdropdown {
    margin-left: 75px;
    padding-top: 20px;
    
}
